<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^(/)?$ /niigatahogoneko_navi/public/index.php/$1 [L]
RewriteCond ${REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /niigatahogoneko_navi/public/index.php/$1 [L]
</IfModule>
