.c-title-main{
  font-size: 22px;
  text-align: center;
  color: #274466;
}
.c-title-sub{
  font-size: 18px;
  text-align: center;
  color: grey;
  margin-bottom: 12px;
  border-left: double 16px #7E949A;
  border-bottom: 1px solid #ccc;
  text-align: left;
  margin-bottom: 10px;
  //margin-left: 10px;
  padding: 5px;
}